/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
							BODY
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

/* COLORS
*
* Tan - cdc4bb 205, 196, 187
* Brown - 4e4a49 78, 74, 73
* Pale Green - cbd1c7 203, 209, 199
* Light Tan - ccc7c1 204, 199, 193
* Pale - dfdcd7 223, 220, 215
*
*/



body {
	text-align: center;
	font-size: 62.5%;
	background: url(../assets/img/green_cup.png);
	height: 2000px;	
}

.wrap {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

.btn {
	font-size: 1.4000em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:0px solid #f5f5f5;
	padding:6px 14px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #6b6361 14%, #4e4a49 91% );
	background:-ms-linear-gradient( top, #6b6361 14%, #4e4a49 91% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b6361', endColorstr='#4e4a49');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(14%, #6b6361), color-stop(91%, #4e4a49) );
	background-color:#6b6361;
	color:#cdc4bb;
	display:inline-block;
	text-shadow:1px 1px 1px #242124;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #473e47;
 	-moz-box-shadow:inset 1px 1px 0px 0px #473e47;
 	box-shadow:inset 1px 1px 0px 0px #473e47;
}

.btn:hover {
	background:-moz-linear-gradient( center top, #4e4a49 14%, #6b6361 91% );
	background:-ms-linear-gradient( top, #4e4a49 14%, #6b6361 91% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4a49', endColorstr='#6b6361');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(14%, #4e4a49), color-stop(91%, #6b6361) );
	background-color:#4e4a49;
}

.btn:active {
	position:relative;
	top:1px;
}


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
							FONTS
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

h1, h2, h3, h4, h5 {
	font-family: 'Niconne', cursive;
}

h1 {
	font-size: 3.000em;
}

h3 {
	font-size: 2.500em;
}

p, a {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 1.400em;
}


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
							Header	
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/
#header {
	width: 960px;
	background: url(../assets/img/header-bg.png);
}

#logo {
	position: relative;
	z-index: 10;
	top: 40px;
	left: 220px;
}

/*	=	=	=	=	NAVIGATION 	=	=	=	=	*/
#nav {
	background: rgba(204, 199, 193, .06);
	position: relative;
	z-index: 9;
	margin: 0 0 0 40px;
}

#nav ul {
	list-style-type: none;
	padding: 10px 0 0 0;
	margin: 0;
	display: block;
}

#nav li {
	float: left;
	text-align: center;
	padding: 10px 20px 0 20px;
}

.blank {
	margin: 0 160px 0 50px;
}

#nav li a {
	text-decoration: none;
	color: #4e4a49;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 1.800em;
}

#nav li a:hover {
	color: #cdc4bb;
	border-bottom: 1px solid #cdc4bb;
}

.selected {
	color: #cbd1c7;
	border-bottom: 1px solid #cbd1c7;
}

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
							Sign in 
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.overlay {
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	cursor: default;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 10px;

	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	position: fixed;
	z-index: 11;
	margin: 0 0 0 350px;
	background: #dfdcd7;
	width: 300px;
	height: 260px;
	top: 10%;
	left: 25%;
	visibility: hidden;

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;

	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .06);
	-ms-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .06);
	-o-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .06);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .06);

	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-ms-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
}

.overlay:target+.popup {
	top: 50%;
	opacity: 1;
	visibility: visible;
}

.close {
	background-color: rgba(0, 0, 0, 0.8);
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: -10px;
	width: 20px;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

.close:before {
	color: rgba(205, 196, 187, 0.9);
	content: "X";
	font-size: 18px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

.close:hover {
	background-color: rgba(204, 199, 193, 0.8);
}

.popup h3 {
	padding: 10px 0 0 10px;
}

label {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 1.400em;
	width: 90px;
	float: left;
	text-align: right;
	margin: 12px 5px 0 0;
}

.popup input[type="text"],
.popup input[type="password"] {
	width: 160px;
	height: 20px;
	margin: 5px 0 0 0;
}

.popup p {
	margin: 0 0 5px 10px;
}

#signinBtn,
#regBtn {
	margin: 15px 0 0 190px;
}

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
							CLASS CONTENT
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.content {
	clear: left;
	float: none;
	margin: 70px 0 0 50px;
}

.content h1 {
	margin: 0 0 15px 0;
}


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
							VIDEO STUFF
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.videoFlash,
.video {
	width: 640px;
	height: 480px;
	float: left;
	margin-bottom: 70px;
}

.controlBar {
	background-color: rgba(203, 209, 199, 0.8);
	width: 640px;
	height: 50px;
	position: absolute;
	top: 746px;
}

.controls {
	margin: 10px 0 0 10px;
}

.play {
   /*width: 0; 
   height: 0; */
   position: absolute;
   float: left;

}

.play:hover {
	filter: contrast(2);
	filter: hue-rotate(178deg);
}

.bar {
	width: 300px;
	height: 8px;
	float: left;

	background-color: #000;
	position: absolute;
	margin: 10px 0 0 45px;
}

.playedBar {
	width: 150px;
	height: 8px;
	position: absolute;
	z-index: 10;

	background-color: #cdc4bb;
}

.sphere {
	width: 10px;
	height: 10px;
	border-radius: 50%;

	background-color: #4e4a49;
	z-index: 11;
	position: absolute;
	margin: -1px 0 0 0;
}

.volumeBtn {
	position: absolute;
	float: left;
	height: 150px;

	padding-top: 50px;
	margin: -50px 0 0 400px;
}

#volume {
	width: 8px;
	height: 90px;

	background-color: #cbd1c7;

	position: absolute;
	bottom: 160px;
	right: 15px;
	visibility: hidden;
}

.volumeBtn:hover #volume {
	visibility: visible;

	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);;
}

#volume .sphere {
	background-color: #000;
	border: 2px solid #4e4a49;
	margin: 0 0 0 -3px;
}

.record {
	position: absolute;
	float: left;

	margin: 0 0 0 450px;
}

.camSet {
	position: absolute;
	float: left;

	margin: 0 0 0 505px;
}

.micSet {
	position: absolute;
	float: left;

	margin: 0 0 0 560px;
}

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
						STUFF AROUND THE VIDEO
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/


/*	=	=	=	=	INFO	=	=	=	=	*/
.videoInfo {
	margin: 10px 0 0 650px;
	height: 480px;
}

.videoInfo h3 {
	margin: 10px 0 15px 20px;
}

.videoInfo p {
	margin: 0 0 5px 20px;
	text-indent: 20px;
}

/*	=	=	=	=	Comments	=	=	=	=	*/

.comments {
	clear: left;
}

.comments h3 {
	margin: 15px 0 15px 0;
}

#commentSub {
	margin: 10px 0 0 535px;
}

.userComment {
	width: 640px;
	height: 160px;

	border: 1px solid #222;
	margin: 0 0 10px 0;
}

.userImg {
	width: 100px;
	height: 100px;
	float: left;

	background-color: #222;
	margin: 20px 10px 0 20px;
}

.words {
	margin: 30px 0 20px 20px;
}

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
								
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/



/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
								
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
								
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/